/* just to be able to see the div, this is your starting point*/
/* You can create your own classess, animations etc*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#to-be-animated {
    width: 200px;
    height: 200px;
    background-color: red;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.rotateAnimation {
    animation: clockwise 1s;
}

.upDownAnimation {
    animation: upAndDown 1s;
}

@keyframes clockwise {
    from {
        transform: translateX(-50%) translateY(-50%) rotateZ(0deg);
    }
    to {
        transform: translateX(-50%) translateY(-50%) rotateZ(360deg);
    }
}

@keyframes upAndDown {
    from {
        transform: translateX(-50%) translateY(-50%);
    }
    to {
        transform: translateX(-50%) translateY(-50vh);
    }
}
